[2019-05-07 17:23] solojavier opened #4 "Products not showing up for some categories in sample catalog"
### Expected Behaviour

Products of all categories show up in commerce catalog explorer.

### Actual Behaviour

Some categories are shown empty even when they have products in them because of an error.

### Reproduce Scenario (including but not limited to)

(All Women categories are showing the issue)
(All Men categories except "Sweaters and Hoodies are having the issue too)

Using [sample data ca

[2019-05-07 17:28] solojavier opened #5 "Browser Compatibility Matrix"
Could you please provide what browsers are supported to know where can we tests and report any issues we may find?

It's also helpful to understand the gap for the browsers we need to support in a project.

[2019-05-07 17:30] solojavier opened #6 "Documentation for categoryRootId"
Currently there is a manual step that needs to be performed for categories to work, but it's not documented anywhere:

[2019-05-08 07:14] mhaack commented on #6
This issue should be logged in https://github.com/adobe/aem-core-cif-components project as it relates to the components and sample pages. The pages cannot use the config from the binding as there can be multiple bindings for multiple Magento store views and multiple pages using different Magento default categories.

[2019-05-08 07:14] #6 closed, assigned to nobody

[2019-05-08 08:19] mhaack commented on #5
@solojavier can you also move this issue to https://github.com/adobe/aem-core-cif-components/issues please. Thx.

[2019-05-08 13:59] solojavier commented on #6
Done: https://github.com/adobe/aem-core-cif-components/issues/13

[2019-05-09 23:24] godanny86 opened #10 "Mixture of Versions 0.1.0 and 0.1.1-SNAPSHOT Packages"
### Expected Behaviour

When building the "all" project from the source I expect some consistency in versions of packages that get built. I.e everything in the project is a SNAPSHOT build or everything is a release.

### Actual Behaviour

When building the connector from master there seem to be inconsistencies in the versions that get created:

![image](https://user-images.githubusercontent.com/89

[2019-05-10 04:40] dcuselton950 opened #11 "Connection error"
### Expected Behaviour
Use this as the POM file in my project and build using mvn clean install -PautoInstallAll .    just results in a connection error to cif-connector-all

### Actual Behaviour

### Reproduce Scenario (including but not limited to)

#### Steps to Reproduce

#### Platform and Version

#### Sample Code that illustrates the problem

#### Logs taken while reproducing problem

[2019-05-10 06:41] mhaack commented on #11
@dcuselton950 can you please provide the error log? The build is working for many people and on CircleCI as well.

[2019-05-10 06:45] mhaack commented on #10
Hi, @godanny86 yes this is intentional the master branch has snapshot versions of all packages & bundles. But you don't need to build this project if you just use it, you can get the released all package from https://github.com/adobe/commerce-cif-connector/releases.

We will add that to the readme. Building it is only needed if you work on the project or going to customize it.

[2019-05-10 06:56] dcuselton950 commented on #11
Mark S in Aussie land helped me thru it .  ID10T error. I will close the issue.  Good to see the monitoring MH

[2019-05-10 06:56] #11 closed, assigned to nobody

[2019-05-10 06:58] mhaack commented on #11
I'm interested in the log :-) if you still have it. The project build should be working without any Adobe internal dependencies, so everybody can easily build it.

[2019-05-10 07:07] dcuselton950 commented on #11
Just closed it….user error. Mark Szulc helped me………

From: Markus Haack <notifications@github.com>
Reply-To: adobe/commerce-cif-connector <reply@reply.github.com>
Date: Thursday, May 9, 2019 at 11:58 PM
To: adobe/commerce-cif-connector <commerce-cif-connector@noreply.github.com>
Cc: David Uselton <duselton@adobe.com>, State change <state_change@noreply.github.com>
Subject: Re: [adobe/commerce-cif-

[2019-05-10 15:35] godanny86 commented on #10
hi @mhaack I'm still a little confused. Yes I understand the master branch has snapshot versions of all packages & bundles... my point is that when you build on master it does not deploy all Snapshot versions, there is a mixture of snapshot and release packages.

 https://github.com/adobe/commerce-cif-connector/releases just has zips of the source files. A user still needs to build them in order t

[2019-05-13 07:49] mhaack commented on #10
@godanny86 good point the release versions are on Maven Central, like described on the readme. See https://search.maven.org/search?q=com.adobe.commerce.cif we should add that to the readme. While this is transparent for developers using it as a dependency of their projects it might not be the first place to look to download a package directly.

[2019-05-14 14:54] cjelger commented on #10
@godanny86 We cannot constantly release each little change, so yes we will have some SNAPSHOT dependencies between releases. Also the project is not meant to have consistent release versions, each module has its own release cycle. See the README:

We are not doing any "reactor" releases, because this implies that a release triggers a release for each sub-module, even if it doesn't have any change.

[2019-05-14 14:56] cjelger commented on #10
BTW, just use the "maven" badge/link on the main page to download the latest released `all` package.

[2019-05-14 17:04] godanny86 commented on #10
Thanks @cjelger for the clarification!

[2019-05-14 17:04] #10 closed, assigned to nobody

[2019-05-15 09:01] cjelger commented on #4
I could reproduce the issue, I will take care of it.

[2019-05-15 12:19] cjelger commented on #4
This is fixed by #14

Note that the problem happens because two categories of the sample data do not have a `url_path` and a `name`. This is a problem because the sling resource provider creates category paths like `/var/commerce/products/magento/men/tops-men/jackets-men` so we simply now ignore categories that do not have a `url_path` or a `name`.

[2019-05-15 13:10] #4 closed, assigned to cjelger

[2019-05-16 14:51] dcuselton950 opened #15 "Cannot select the root of the catalog"
### Expected Behaviour
When you bind the root catalog, it will allow you to select the root catalog to render from the top of the catalog in the menu

### Actual Behaviour

You cannot select the top of the catalog to render, you have to pick one of the top level leafs of the hierachy.

### Reproduce Scenario (including but not limited to)

#### Steps to Reproduce

below is image where you can see

[2019-05-17 05:58] LSantha commented on #15
Thank you, @dcuselton950. We are aware of this issue and will work on it.

[2019-05-17 10:30] jaashy89 opened #17 "mvn clean install -PautoInstallAll"
Reactor Summary:
[INFO]
[INFO] CIF Connector - Parent project 0.1.3-SNAPSHOT ...... SUCCESS [  0.196 s]
[INFO] CIF Virtual Catalog - Content package 0.1.1-SNAPSHOT SUCCESS [  1.936 s]
[INFO] CIF Virtual Catalog - Bundle 0.1.1-SNAPSHOT ........ SUCCESS [ 15.040 s]
[INFO] CIF Connector - Content Package 0.1.1-SNAPSHOT ..... SUCCESS [  0.206 s]
[INFO] CIF Connector - GraphQL Bundle 0.1.1-SNAPSHOT ...

[2019-05-17 11:03] jaashy89 commented on #17
[ERROR] Failed to execute goal com.day.jcr.vault:content-package-maven-plugin:0.5.24:install (install-package) on project cif-connector-all: Connection refused (Connection refused) -> [Help 1]
org.apache.maven.lifecycle.LifecycleExecutionException: Failed to execute goal com.day.jcr.vault:content-package-maven-plugin:0.5.24:install (install-package) on project cif-connector-all: Connection refused

[2019-05-17 11:20] cjelger commented on #17
[ERROR] Failed to execute goal com.day.jcr.vault:content-package-maven-plugin:0.5.24:install (install-package) on project cif-connector-all: `Connection refused`

Either your AEM instance is not reachable, or it's rejecting the connection. That's not a bug.

[2019-05-17 11:20] #17 closed, assigned to nobody

[2019-05-20 01:56] Bhargav411 opened #19 "Unresolved Dependencies"
### Expected Behaviour
All Bundles should be active

### Actual Behaviour
CIF Connector - Graph QL Bundle is not active

#### Steps to Reproduce

1.Installed the all package using 'mvn clean install -PautoInstallAll' inside all folder.
2. In AEM Web console (http://localhost:4502/system/console/bundles) able to see a bundle in installed state.

#### Platform and Version

AEM 6.5, Mac OS , Java(TM)

[2019-05-20 02:29] #19 closed, assigned to nobody

[2019-05-20 04:02] Bhargav411 opened #20 "JS Error after Binding product (Read me doc 3rd step in CIF Magento GraphQL Configuration)"
Followed the Read me document.

Installed connector and configured on AEM 6.5.

After I clicked on 'Bind products', getting console error and displaying blank page.

The console error says -" Uncaught TypeError: Cannot read property 'dataset' of undefined" in foundation.js

<img width="1647" alt="Screen Shot 2019-05-20 at 12 41 44 pm" src="https://user-images.githubusercontent.com/22632630/5799589

[2019-05-20 09:32] herzog31 commented on #20
Please stick to the issue template.

Are there any entries in the AEM `error.log` you can provide?

[2019-05-20 10:41] LSantha commented on #15
@dcuselton950 , a solution for this issue was merged to master branch.
Could you please check if it works for you?

[2019-05-20 10:45] Bhargav411 commented on #20
Attached the error trace found in AEM error logs.

[error-log.txt](https://github.com/adobe/commerce-cif-connector/files/3197455/error-log.txt)

[2019-05-20 11:29] herzog31 commented on #20
It looks like that in your configuration you use an `http://` endpoint to point to your Magento instance. This is **not** supported. Please use `https://`. If your instance doesn't have a proper TLS certificate configured, you can activate the `Accept self-signed SSL certificates` option.

[2019-05-20 19:35] the-dugi opened #21 "CIF Catalog Magento GraphQL Configuration Factory missing"
### Expected Behaviour
In the AEM Web console - configuration we should be able to locate CIF Catalog Magento GraphQL Configuration Factory and create a child configuration

### Actual Behaviour
In the AEM Web console - configuration the CIF Catalog Magento GraphQL Configuration Factory is missing.

### Reproduce Scenario (including but not limited to)
After pulling the latest version from the mas

[2019-05-21 00:11] Bhargav411 commented on #20
@herzog31 Enabled and that resolved all above errors. Thanks

[2019-05-21 00:11] #20 closed, assigned to nobody

[2019-05-21 00:14] Bhargav411 commented on #21
If you build the package from 'all' folder then you can see the above behavior. But if you build it from root pom then you can see catalog magento factory in console.. Looks like 'all' doesn't have this.

[2019-05-21 07:19] mhaack commented on #21
@the-dugi I can confirm this behavior and we will provide a fix for that. You can install everything using  `mvn clean install -PautoInstall` like described in the readme.md as a workaround.

[2019-05-21 11:00] mhaack commented on #21
Fixed. This was related to an outdated dependency in the `all` package which is updated now. Just get and build the latest from git or download the all package from Maven Central.

[2019-05-21 11:00] #21 closed, assigned to mhaack

[2019-05-27 12:39] mhaack commented on #15
@LSantha @dcuselton950 I verified that fix, works now if you use the snapshot version from the master branch, will be included in next release.

[2019-05-27 12:39] #15 closed, assigned to nobody

[2019-05-27 17:47] dcuselton950 commented on #15
Thanks Markus

From: Markus Haack <notifications@github.com>
Reply-To: adobe/commerce-cif-connector <reply@reply.github.com>
Date: Monday, May 27, 2019 at 5:39 AM
To: adobe/commerce-cif-connector <commerce-cif-connector@noreply.github.com>
Cc: David Uselton <duselton@adobe.com>, Mention <mention@noreply.github.com>
Subject: Re: [adobe/commerce-cif-connector] Cannot select the root of the catalog (

[2019-08-21 19:08] robertymb opened #43 "Binding not working as expected"
### Expected Behaviour
After binding product catalog to AEM resource tree expected to see categories and products list.

### Actual Behaviour
After binding product catalog to AEM resource tree *cannot* see categories and products list.
![Screenshot from 2019-08-21 15-40-53](https://user-images.githubusercontent.com/4612887/63460834-b0c84c80-c42d-11e9-98f1-724b1524d49e.png)

### Reproduce Scenario

[2019-08-22 06:57] mhaack commented on #43
@robertymb can you dump your OSGI configuration of the backend connection here to validate?

Also please create a separate log with `cif-connector-graphql` and `com.adobe.cq.commerce.virtual` set to debug, that should give more details.

[2019-08-27 14:07] robertymb commented on #43
Hey @mhaack,

Sorry delay, I was having a lot of trouble to logging since it seems to not logging anything after binding.

I tried to created a separated log for `cif-connector-graphql` and `com.adobe.cq.commerce.virtual` but it seems it's not logging after binding. It logs only when AEM starts (see screenshots below). Whatever, I have logged information from `com.adobe.cq.commerce.*`. Got a inter

[2019-08-29 12:18] mhaack commented on #43
I can unfortunately not reproduce this behaviour, especially when you don't get any errors.

Lets check if the binding is created correctly and the underlying services are created. Can you please share the properties for `/var/commerce/products/magento2` (the root folder of the binding) from CRXDE.

Also when creating a new binding you should see a message like:
[code]

Also please check if the OS

[2019-08-29 18:30] robertymb commented on #43
One insight: Can this problem be related with Javascript or compressor? We had to change YUI compressor to GCC compressor since it wasn't working before. That's the only thing we changed.

You're right, logs doesn't seems enough. Not sure what that means:

[code]

Nothing related with com.adobe.commerce.cif.virtual-catalog is logged at all. Seems like it is stopping a step before trying to create

[2019-08-30 06:42] mhaack commented on #43
I don't think the JS errors are related, the problem is the missing resource provider service. But actually the config from your screenshots looks ok to me.

@LSantha do you have some idea?

[2019-09-02 08:51] LSantha commented on #43
I've just built a stack with latest AEM 6.6 QS and latest archetype and it works as expected.
I recognize this is not AEM 6.4.4 as in the issue description, however one thing which looks odd to me is that the issue description contains everywhere references to /etc/commerce/products instead of /var/commerce/products. I wonder why is that? Why is that AEM 6.4.4 instance running in backwards compati

[2019-09-02 12:00] robertymb commented on #43
Interesting question.

![Screenshot from 2019-09-02 08-34-17](https://user-images.githubusercontent.com/4612887/64112881-10dcbe00-cd5f-11e9-89b6-7cb21337e852.png)
_content from /etc/commerce/products/_

So, I reviewed what I had done and notice one slightly difference. Step 3 is different from this tutorial (that I have followed): https://www.adobe.io/apis/experiencecloud/commerce-integration-fram

[2019-09-02 13:57] mhaack commented on #43
Can you point is to the timestamp in the video when it mentions `/etc/commerce`?

[2019-09-02 13:57] mhaack commented on #43
Both components should not be different here?

[2019-09-02 14:05] robertymb commented on #43
7:55 when I click on **Products** it redirects me to /etc instead of /var (notice it's fine in the video)

[2019-09-02 14:06] robertymb commented on #43
Yes, they are. I was expecting the behavior be exactly the same when searching for the product in both components.

[2019-09-04 13:17] robertymb commented on #43
For some reason attribute `rootPath` from `cifconnector/src/main/content/jcr_root/libs/commerce/gui/components/common/cifproductfield/Initialize.java` was setting to `/etc/commerce/products` instead of `/var/commerce/products`.

Noticed that for [core-cif-components/ui.apps/src/main/content/jcr_root/apps/core/cif/components/commerce/productteaser/v1/productteaser/_cq_dialog/.content.xml](https://g

[2019-09-04 13:17] #43 closed, assigned to nobody

[2019-09-17 12:50] harts75 opened #48 "Graphql client connection pool fills up"
### Expected Behaviour
The connection pool should handle it's connections, and a timeout should be available
for when the graphql service is misbehaving

### Actual Behaviour
A timeout is not configurable for the graphql client. Connections will not timeout when stale.
And when a returned http status is != 200, the response is not consumed, this causes the connectionpool to flood.

### Reproduce S

[2019-09-17 13:05] cjelger commented on #48
Thank you for reporting this issue, if this is indeed the case, then it's a very serious problem. Let us know when/if you can provide a PR, otherwise we will take care of it.

[2019-09-17 13:11] harts75 commented on #48
Hi Christophe,

Thanks.
This is the pull request:
https://github.com/adobe/commerce-cif-graphql-client/pull/9
I wanted to create a draft, but was too quick. I also wanted our tech-lead to check it out for improvements and code quality. This is my first pull request.

Best regards,
  Harmen Arts

From: Christophe Jelger <notifications@github.com>
Sent: Tuesday, September 17, 2019 15:06
To: adobe/co

[2019-09-23 13:15] cjelger commented on #48
Is resolved by https://github.com/adobe/commerce-cif-connector/pull/49 - I'm closing this issue now. We'll release a new version of the connector in max 2-3 weeks (might be sooner).

[2019-09-23 13:15] #48 closed, assigned to nobody

[2019-12-02 09:22] Jdruwe opened #73 "YUIScriptProcessor syntax error"
### Expected Behaviour

No errors in the author error.log

### Actual Behaviour

`[ERROR] null
02.12.2019 10:19:02.036 *ERROR* [0:0:0:0:0:0:0:1 [1575278342019] GET /libs/commerce/gui/components/common/cifcategoryfield/clientlibs.min.js HTTP/1.1] com.adobe.granite.ui.clientlibs.impl.HtmlLibraryManagerImpl Error during assembly of library.
org.mozilla.javascript.EvaluatorException: Compilation produ

[2019-12-02 09:35] Jdruwe opened #74 "Virtual catalog config not picked up"
### Expected Behaviour

Virtual catalog configuration should be picked up correctly when  pushing it from code

### Actual Behaviour

Virtual catalog data definition is invalid (logs) and the integration stops working.

### Reproduce Scenario (including but not limited to)

Provide a GraphqlClientImpl and GraphqlDataServiceImpl config and push your product binding (in our case /var/commerce/produc

[2019-12-04 17:21] LSantha commented on #73
@Jdruwe , thank you for reporting this. We are going to investigate it.

[2019-12-05 13:44] cjelger commented on #74
Thanks for reporting the issue. I think we indeed have a problem in the order in which services are started, we will try to fix this asap.

[2019-12-06 10:08] cjelger commented on #74
PR is ready at #75

[2019-12-10 09:53] cjelger commented on #74
Closed by #75

[2019-12-10 09:53] #74 closed, assigned to cjelger

[2019-12-12 14:35] #73 closed, assigned to nobody

[2020-01-22 15:50] geertsmichael opened #84 "All products not shown in Product Finder when authoring"
### Expected Behaviour
When editing a page in Touch UI, the "content finder" should show all products. This is remaining empty:
![Schermafbeelding 2020-01-22 om 16 44 17](https://user-images.githubusercontent.com/14930982/72908939-865d2100-3d36-11ea-9a11-a6f317d4a219.png)

When editing a page in Touch UI, the "content finder" option to "filter path" on Products, only navigates on /etc/commerce and

[2020-01-22 15:56] geertsmichael opened #85 "Drag&Drop a Product onto a page, renders a path"
### Expected Behaviour
When dragging a Product on a page, from the "Product Content Finder" in Touch UI. It renders a path to "/var/commerce/products/magento-products/men/tops-men/MH02". When configuring the path from the dialog, just the product SKUs is used "MH02".

<img width="578" alt="Schermafbeelding 2020-01-22 om 16 56 41" src="https://user-images.githubusercontent.com/14930982/72910005-2f5

[2020-01-22 16:40] mhaack commented on #85
Drag & Drop rendering using the path instead of the SKU is actually currently working as designed. The Content/Asset Finder at the moment requires a Sling resource and returns that resource path.

I understand the different behavior is actually not optimal but currently something we can not change easily.

[2020-01-22 16:48] mhaack commented on #84
How does this issue is related to #85 ? In #85 looks like you could drag & drop but that requires products are loading in the content finder?

[2020-01-22 18:03] geertsmichael commented on #84
Correct after searching. Just opening the product finder doesn’t show products. After searching it does.
Other issue , I can’t limit my search in 1 catalog only. As I cannot select a /var/commerce folder.

[2020-01-22 18:06] mhaack commented on #84
That is something we plan for one of the next releases. Config will be more streamlined and pickers will respect the catalog, storeview etc. which are assigned to a side.

[2020-01-22 18:17] geertsmichael commented on #85
Ok, so CIF components should always work in both ways then (path and sku based)? What is the preferred way for linking to a product in your opinion? If that's SKU, then I propose a PostProcessor to remove the /var/commerce/... part.

[2020-01-22 19:07] geertsmichael commented on #84
After testing again on a clean instance, I am seeing products even without filtering.
Could this be related because we also have products in /etc/commerce/products?

[2020-01-22 19:26] geertsmichael opened #86 "JavaScript not working when minify is enabled"
### Expected Behaviour

Expecting all JavaScript works when "Minify" is enabled on the "Html Library Manager" Osgi Config. And also all features in Touch UI and the site itself is working.

### Actual Behaviour

The following JavaScript files fail to output JavaScript:
http://localhost:4502/etc.clientlibs/core/cif/components/structure/navigation/v1/navigation/clientlibs.min.js
http://localhost:450

[2020-01-23 07:39] mhaack commented on #84
This might be. Above you wrote you run AEM 6.4.5 which actually should not have anything in /etc/commerce/products ??? Should be /var/commerce/products?
But nevertheless, I recommend not mixing old/classic products in JCR with CIF.

[2020-01-23 07:42] mhaack commented on #85
Yes, at least this applies for all CIF core components.

That is not possible ootb we can not simply remove it because a) we still need `/var/commerce/products` for the product bindings config and b) we can not remove any customer data!

[2020-01-23 08:36] geertsmichael commented on #85
Thank you.

[2020-01-23 08:36] #85 closed, assigned to nobody

[2020-01-24 06:16] geertsmichael opened #87 "Disable cache for "CIF Catalog Magento GraphQL Configuration Factory" doesn't work"
### Expected Behaviour

When cache is disabled, that the CIF Virtual catalog & Product Console is still working.
I am doing tests in Magento and want to see them reflected faster in AEM. Therefore, locally I want to disable cache.

I could only bypass caching, by configuring all values to in the CIF Catalog Magento GraphQL Configuration Factory OSGI config to "1".

### Actual Behaviour

When any o

[2020-01-24 06:31] geertsmichael opened #88 "Multiple Product Bindings, pointing to same Magento don't load products correctly"
### Expected Behaviour

When having multiple Product Bindings (1 per StoreView), using the same project (so same Magento) and caching is enabled, each Product Binding should load the correct catalog.

### Actual Behaviour

When having multiple Product Bindings (1 per StoreView), using the same project (so same Magento), caching is enabled (to 5 minutes & 1000 items), the categories load correctly

[2020-01-24 08:46] cjelger commented on #87
I cannot reproduce this issue: if I disable the 3 checkboxes in the config, I can still see products in http://localhost:4502/libs/commerce/gui/content/products.html/var/commerce/products. However, I also had to increase the HTTP connection timeout values in the GraphQL client config, because disabling caching puts more load on Magento and I had some exceptions in the logs due to timeouts. But onc

[2020-01-24 08:55] cjelger commented on #88
Thanks for reporting this issue. This is indeed a bug, that part of the connector was developed before we added support for multiple stores and the cache only considers product skus. I created the internal issue CIF-1206 to fix this.

[2020-01-24 10:29] cjelger commented on #87
While working and testing #88, I managed to "reproduce" this issue when caching is disabled (I'm actually not 100% sure it's the same problem, but looks like it is). I'll fix this in the same PR as for #88.

[2020-01-27 10:59] cjelger commented on #86
I cannot exactly reproduce this issue, but we do have some problems with minification and if/where/how we will perform and configure the minification with our react components. Strictly speaking, this issue should have been opened in https://github.com/adobe/aem-core-cif-components but we can leave it here.

[2020-01-28 13:26] cjelger commented on #84
@geertsmichael I checked again in the commerce-core-bundle and if there is a `/etc/commerce/products` folder, all the commerce components related to products path will always open this path. You should really have **either** `/etc/commerce/products` **or** `/var/commerce/products` but **not** both. The new location is `/var/commerce/products`.

Now while your issue is caused by having products in

[2020-01-29 13:43] #87 closed, assigned to cjelger

[2020-01-29 13:43] #88 closed, assigned to cjelger

[2020-01-30 12:58] cjelger commented on #86
This is now fixed by the linked PR in the components. Note that minification is now done by the `webpack` build of the components: code is minified by default when releasing the components, but **not** on SNAPSHOT versions.

The minification done by AEM for the clientlibs is always disabled for all the clientlibs built by `webpack`.

[2020-01-30 12:58] #86 closed, assigned to cjelger

[2020-01-31 16:31] diogoabferraz opened #93 "'CIF Catalog Magento GraphQL Configuration Factory' Not showing"
### Expected Behaviour
After-mvn clean install -PautoInstall the 'CIF Catalog Magento GraphQL Configuration Factory' should appear in http://localhost:4502/system/console/configMgr

### Actual Behaviour
'CIF Catalog Magento GraphQL Configuration Factory'  not showing at http://localhost:4502/system/console/configMgr

### Reproduce Scenario (including but not limited to)

#### Steps to Reproduce

#

[2020-02-03 08:51] mhaack commented on #93
Can you check CIF connector related artifacts in package manager which packages are installed and in OSGI console which bundles are installed & started?

[2020-02-03 08:52] mhaack commented on #93
Actually, you can get the ready to use package from: https://search.maven.org/search?q=g:com.adobe.commerce.cif%20AND%20a:cif-connector-all no need to build the project.

[2020-02-04 11:55] diogo-celfocus commented on #93
Hi @mhaack ,

![image](https://user-images.githubusercontent.com/56916997/73742853-3e31fb80-4745-11ea-88fa-49802cfa6320.png)

I get this in the bundle.

[2020-02-10 10:02] cjelger commented on #93
From the screenshot you added (and somehow then removed?), I think you have simply not installed the required dependencies, see https://github.com/adobe/commerce-cif-connector#pre-requisites

These are **not** automatically installed when you build and install all sub-modules. I'll update the documentation so it's clearly stated the first time that we mention `mvn clean install -PautoInstall`.

[2020-02-10 11:08] diogo-celfocus commented on #93
Hi @cjelger @mhaack , the issue was the dependencies. I have installed all of them and it's working properly now.

Thank You

[2020-02-10 11:10] diogoabferraz commented on #93
Hi @cjelger @mhaack

the issue was the dependencies hence not a issue. I have installed them and it works properly now.

Thank you

[2020-02-10 11:10] diogoabferraz commented on #93
Closing

[2020-02-10 11:10] #93 closed, assigned to nobody

[2020-03-29 13:13] vidyaav opened #107 "Maven compile is failing"
### Expected Behaviour
Project should compile succesfully

### Actual Behaviour
It's throwing error stating
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:3.0.0-M4:test (default-test) on project cif-connector-graphql: There are test failures.
[ERROR]
[ERROR] Please refer to C:\Users\bhavidya\Documents\commerce-cif-connector-master\bundles\cif-connector-graphql\target

[2020-03-30 07:36] dplaton commented on #107
@vidyaav Please specify what platform and versions are you using - java version, windows version and maven version as well. Thank you!

[2020-03-30 09:15] geertsmichael opened #109 "Cannot create Cloud Service"
### Expected Behaviour

I am following the step of the readme file to create a new cloud service.
I am expecting to have a working url in the documentation and I want to create a cloud service.

### Actual Behaviour

When visiting http://localhost:4502/libs/commerce/gui/content/configuration.html/conf I get a 404. And in the repository, I cannot find the following node either under /libs/commerce/

[2020-03-30 09:38] geertsmichael opened #110 "Product Browser not working after refresh and category/product was selected"
### Expected Behaviour

After refreshing the product browser when a category or product was selected, results in a broken product Browser. I am expecting to stil see all catalogs and the parent categories.

### Actual Behaviour

After refreshing the product browser when a category or product was selected, results in a broken product Browser.I want to provide a link to a category or product, which

[2020-03-30 12:16] dplaton commented on #109
@geertsmichael This change will be released in 0.10.0 (due in a couple of days).

[2020-03-30 22:54] abecek commented on #107
Hi,

I've got the same issue on the Centos 7.

Apache Maven 3.6.2 (40f52333136460af0dc0d7232c0dc0bcf0d9e117; 2019-08-27T15:06:16Z)
Maven home: /opt/apache-maven-3.6.2
Java version: 1.8.0_242, vendor: Oracle Corporation, runtime: /usr/lib/jvm/java-1.8.0-openjdk-1.8.0.242.b08-0.el7_7.x86_64/jre
Default locale: en_US, platform encoding: UTF-8
OS name: "linux", version: "3.10.0-957.12.2.el7.x86_64", a

[2020-03-31 06:46] cjelger commented on #110
You should rather check the logs of your AEM instance and check any error message to find out why the loading of the categories has failed. But this is probably not a bug related to the scenario you describe, this works perfectly fine for me.

[2020-03-31 07:21] dplaton commented on #107
@abecek We identified a failing unit test on Windows that was causing the original issue, but it wasn't `testFactoryInitMethod`. We'll investigate that as well.

[2020-03-31 10:18] #107 closed, assigned to nobody

[2020-03-31 12:10] dplaton opened #112 "GraphqlResourceProviderTest.testFactoryInitMethod fails on CentOS 7"
Hi,

I've got the same issue on the Centos 7.

Apache Maven 3.6.2 (40f52333136460af0dc0d7232c0dc0bcf0d9e117; 2019-08-27T15:06:16Z)
Maven home: /opt/apache-maven-3.6.2
Java version: 1.8.0_242, vendor: Oracle Corporation, runtime: /usr/lib/jvm/java-1.8.0-openjdk-1.8.0.242.b08-0.el7_7.x86_64/jre
Default locale: en_US, platform encoding: UTF-8
OS name: "linux", version: "3.10.0-957.12.2.el7.x86_64", a

[2020-04-10 07:06] geertsmichael commented on #109
I can create a cloud service now

[2020-04-10 07:06] #109 closed, assigned to nobody

[2020-04-10 07:17] geertsmichael opened #117 "Unable to create multiple cloud services"
### Expected Behaviour

My Magento & AEM set-up consists out of multiple locales and multiple store views.
I am under the impression that I need multiple cloud services to connect per locale to the correct store view.

### Actual Behaviour

I can only create 1 single CIF cloud service per /conf/brand folder. All my locales share the same /conf/brand folder. I need to configure the store view on th

[2020-04-14 09:30] cjelger commented on #117
@dplaton Can you please check if this is documented? If not, we should add an example to explain how to setup multiple stores. Thank you.

[2020-04-16 16:13] dkuntze commented on #117
to me this looks like the
libs/commerce/gui/components/configuration/page/_cq_dialog/.content.xml
file changes the name of cq:magentoStore to 'magentoStore' (minus the cq:) which makes it impossible to have multiple stores since the java constant looks for cq:magentoStore - and if it cannot find it, it returns 'default'.

[2020-04-22 08:53] LSantha commented on #112
GraphqlResourceProviderTest.testFactoryInitMethod() was removed with commit https://github.com/adobe/commerce-cif-connector/commit/7143e033d8123d352aeab5330da47134d07563d4, so I'm closing this issue.

[2020-04-22 08:53] #112 closed, assigned to nobody

[2020-04-23 20:18] okassa commented on #117
We've found the same issue today that @dkuntze explained. Hopefully,  we have also found a temporary workaround by using the GraphQL client.  We have added to the default OSGI config (com.adobe.cq.commerce.graphql.client.impl.GraphqlClientImpl ) for a the GraphQL client
a default HTTP header like Store:name_of_the_store,and it works fine. It make sense only for a single store, it's less flexible w

[2020-04-23 20:54] dkuntze commented on #117
@okassa the easiest fix, without changing code, is just to have both properties on the node. Open up CRXDE and add cq:magentoStore with the same value as the other.

[2020-04-24 08:05] okassa commented on #117
@dkuntze you're right, it's far much easier ;-) this fix is OK for local development i think. I'm not sure if going through CRXDE for each and very update in the cloud configuration is flexible enough. I don't like people to do manual updated on non local servers like qa,pre-prod,prod this a bad habit.
I'll rather go for a temporary [SlingPostProcessor](https://sling.apache.org/apidocs/sling11/org

[2020-04-24 08:19] cjelger commented on #117
IIUC, the problem you have should be fixed by https://github.com/adobe/commerce-cif-connector/pull/118

[2020-05-06 14:07] mohand88 opened #122 "In Product Finder, products of a category that has sub-categories are not shown"
### Expected Behaviour
In Product Finder, when accessing to a category that has sub-categories and products, both sub-categories and products should be visible.
![image](https://user-images.githubusercontent.com/6286773/81203800-a6a0ab00-8fc8-11ea-8360-94d036e29a3f.png)

### Actual Behaviour
In Product Finder, when accessing to a category that has sub-categories and products, only sub-categories a

[2020-05-06 14:19] okassa commented on #122
@mohand88 thanks for sharing this issue which could be taken as an enhancement

[2020-05-28 07:27] geertsmichael opened #128 "Complexities of a landscape on a global scale with the CIF connector"
I first want to explain the background of our issue to get some information on how to approach this problem. We tried looking into the code of the CIF Connector to get our customization realized, but we prefer not to modify this connector.

Our brand is globally represented and Magento will contain our products, the same product from a customer’s point of view, is not the same product in Magento.

[2020-05-28 10:02] losharma opened #129 "3rd party dependency coming from commerce-cif-connector is causing Quality code check from SonarQube (Cloud Manager) analysis to fail."
For a customer, build on Adobe Cloud Manager is failing because of the code quality checks set in Cloud manager (SonarQube analysis).
Around 6000 issues are coming from commerce-cif-connector dependency that is adding nodes to the /libs node of AEM, which is conflicting below mentioned custom code quality rule.

Customer Packages Should Not Create or Modify Nodes Under /libs {#oakpal-customer-pack

[2020-05-28 10:17] mhaack commented on #129
@losharma this is know, for AMS customers using Adobe Cloud Manager the commerce-cif-connector must be installed by the AMS SRE. Please see https://github.com/adobe/commerce-cif-connector#installation

[2020-05-28 11:38] losharma commented on #129
Thanks, @mhaack

[2020-05-28 12:13] #129 closed, assigned to nobody

[2020-06-02 08:24] cjelger commented on #128
This might not be possible in your current catalog configuration, but if the product is basically the same but only has a different power outlet, then the easiest solution would be to create a configurable product in Magento with 3 variants, that is one variant for each power outlet. It's like having a t-shirt with different sizes, but in this case it's just a different power outlet "variation". T

[2021-01-21 23:48] chetanyajain opened #161 "Version Issue with commerce-cif-graphql-client"
The latest version (1.6) of cif-connector embeds the 1.6.0 version of commerce-cif-graphql-client.

However, the latest version of cif-components (https://github.com/adobe/aem-core-cif-components) expects a 1.7 version and this keeps the bundle in the installed state.

We have to manually upload the latest version of graphql-client (1.7) to resolve this. Can the cif-connector export the 1.7 versio

[2021-02-23 11:46] rossellacuccurullo opened #165 "Category picker graph query"
**Expected Behaviour**
In the category picker the categoryWithChildren graphql query need is as string as param

**Actual Behaviour**
In the category picker the categoryWithChildren graphql query the category id is passed as int causer a coercion issue.

**Steps to Reproduce**
Access in edit mode on the category page and we click on ”View with category”.
Load the first level category :the fallowin

[2021-02-23 13:14] mhaack commented on #165
Thanks @rossellacuccurullo for reporting this. To be sure the issues you see are with AEM Commerce as a Cloud Service. Is this correct?

Asking because the screenshots indicate this. This GitHub project is a different project! This is the CIF Connector for classic AEM 6.4/6.5 deployments, not AEM as a Cloud Service.

However we will have a look (@herzog31 ). @rossellacuccurullo if my assumption ab

[2021-02-23 13:25] rossellacuccurullo commented on #165
Yes is AEM as a Cloud Service. We escalate the issue to our Adobe support that suggest us to open an issue here.

[2021-02-23 16:05] mhaack commented on #165
Thanks @rossellacuccurullo

[2021-02-23 16:05] #165 closed, assigned to nobody

[2021-02-24 07:43] herzog31 commented on #161
This was fixed by #162 and is available in the [cif-connector-reactor-1.7.0](https://github.com/adobe/commerce-cif-connector/releases/tag/cif-connector-reactor-1.7.0) release.

[2021-02-24 07:43] #161 closed, assigned to nobody

[2021-04-09 09:53] jbaix opened #168 "#Question: System requirements"
(This issue should be tagged as 'question')

Hello.

As per [README.md](https://github.com/adobe/commerce-cif-connector#system-requirements), CIF Connector 1.8.0 is supported for AEM 6.5.0 and Java 1.8. Could you confirm that includes AEM Service Packs (last is SP8), and Java 11 (which is also supported for AEM)? Should be nice to add a note in the README.md.

Kind regards,

[2021-05-12 12:58] geertsmichael opened #173 "Use of CatalogDataResourceProviderManager and how to combine with product nodes"
### Expected Behaviour

In our set-up we have the CIF connector installed and use Product bindings in /var/commerce/products to virtually connect to Magento. No nodes will ever be created for the Magento use case under /var/commerce/products/our-magento-binding/.

But we also have a brand that wants to use the traditional way of handling products by importing products under /var/commerce/products/

[2021-05-17 11:17] mhaack commented on #173
I had a chat with @geertsmichael the issue here is every change in /var/commerce/products triggers the `CatalogDataResourceProviderManagerImpl` event listener. `onEvent` method should better filter the events here and not execute if other nodes (other then catalog binding configs) are created/changed/deleted.

[2021-05-17 11:19] mhaack commented on #173
Created CIF-2082 for tracking

[2021-05-18 08:15] mhaack commented on #173
@geertsmichael can you please do some extra testing one which events these issues happens? We currently assume the issue only occurs on changed nodes during the import, but not if new product nodes are added or existing product nodes are removed.

[2021-06-16 12:17] #173 closed, assigned to nobody

[2022-03-07 18:37] prashantonkar87 opened #184 "Intermittent "Failed to send GraphQL request error" on AEM Publish"
### Expected Behaviour
Product Detail Pages, Product Listing pages should work all the time.

### Actual Behaviour
Intermittent, sporadic 500 Internal Server Error while accessing any page with Graphql calls - especially product details and product listing page.

### Reproduce Scenario (including but not limited to)

#### Steps to Reproduce
- Try to access any page with GraphQL calls. This isssue